
body {
    background-color: black;
    color:antiquewhite
}

body {
  font-family: 'Amaranth';
}

/*estilo de navbar*/
.bg-dark {
  transition: all 1s ease;
}

.navbar {
  background-color: transparent!important;
}

.nav-link {
  font-family: 'Ubuntu';
  font-weight:'regular'; 
 
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-weight: 'regular';
  }   


/*estilo de imagenes*/

 img { 
  width: 100%;
}

.img.card {
  width: 100%

}


.cards {
  padding-top: 2 rem;
  scroll-padding-bottom: 2rem;
}


.card2 {
  color: bisque;
  padding: 2px;
  margin-left:0.5 rem;
  margin-right: 0.5 rem;
  width:16 rem;
  border: radius 2px;
  margin-bottom: 1 rem;
  }

.card2 .card-text{
font-size:0.75 rem;
}


#Destacados{
    background-color: black;

}

.card-header {
 background-color: #4a9b95;
}

.card-footer {
  background-color: #4a9b95;

}
  
.card-body {
  background-color: black;
}
#footer {
  background-color:#4a9b95;
  border:black;
  
}

.text header {
  background-color: aqua;
}

.tooltip-custom .tooltip-inner {
  background-color: #4a8e88 !important;
  border-top-color: #4a9b95 !important; 
  
}


@media screen and (max-width: 600px) {
  #QuienesSomos{
  display: none;
  }
  }


  #buttonpopover{
    background-color:aquamarine !important;
    color:darkslategray;
    
  }
  @media screen and (max-width: 600px) {
    #buttonpopover{
    display: none;
    }
    }