
body {
    background-color: black;
    color:antiquewhite
}



.navbar {
  background:transparent;
  color:#fff;
  width: 100%;
  position: fixed;
  z-index: 100;
 
}

img { 
    
  width: 100%;
}

.img.card {
  width: 100%

}


.cards {
  padding-top: 2 rem;
  scroll-padding-bottom: 2rem;
}
.card1 {
  background-color: black;
}

.card2 {
  color: bisque;
  padding: 2px;
  margin-left:0.5 rem;
  margin-right: 0.5 rem;
  width:18 rem;
  border: radius 2px;
  margin-bottom: 1 rem;
  }

.card2 .card-text{
font-size:0.75 rem;
}

#QuienesSomos {
  display: flex;
  align-items: center;
  justify-content: center;

}

#Destacados{
    background-color: black;
    display: flex;
}

#footer {
  background-color:turquoise;

 
}


